/*font start*/
@font-face {
  font-family: "OpenSans_Bold";
  src: url(/fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_SemiBold";
  src: url(fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans_Light";
  src: url(fonts/OpenSans-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: "OpenSans_Regular";
  src: url(fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RotoMono-Regular";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*font end*/

/* body */
:root {
  --text-color: #ffffff;
  --body-text-color: #cecece;
  --background-color: #0f1116;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.background {
  margin: 0;
  padding: 0;
  overflow: auto; /* 스크롤 막기 */
  background-image: url(/img/background_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*page1 start*/
.page1 a {
  color: var(--text-color);
}

.page1_header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 0 20.2rem 0;
}

.page1_header_logo {
  margin : 2.2rem 0 0 2.5rem;
  display: flex;
  align-items: center;
}

.page1_header_logo_link {
  text-decoration: none;
}

.page1_header_logo_head {
  font-family: "OpenSans_Bold";
  font-weight: 700;
  font-size: 1.2rem;
  width: 8.3vw;
  height: 1.43vh;
  margin: 0 1rem 0 0;
}

.page1_header_logo_tail {
  font-family: "GoogleSans_Regular";
  font-weight: 400;
  width: 9.4vw;
  height: 1.43vh;
  font-size: 1.2rem;
}

.page1_header_join {
  margin: 2.2rem 2.6rem 0 0;
  font-family: "OpenSans_Bold";
  font-weight: 700;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.50);
  font-size: 1.2rem;
  background-color: #4285f4;
  color: var(--text-color);
  border: none;
  text-align: center;
  border-radius: 2.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 4.154vh;
  white-space: nowrap;
}

.page1_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page1_section_logo {
  margin : 0 0 1.88vh 0;
  width: 18.49vw;
  height: 4.9vh;
}

.page1_section_headline {
  color: var(--text-color);
}

.page1_section_headline > h3 {
  font-family: "OpenSans_SemiBold";
  font-weight: 600;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.50);
  font-size: 3.8rem;
  width: 81.39vw;
  height: 9.45vh;
  margin: 0 0 1.43vh 0;
}

.page1_section_headline > p {
  font-family: "OpenSans_Light";
  font-weight: 300;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.50);
  font-size: 1.5rem;
  height: 2.05vh;
  margin: 0 0 0 0;
}

.page1_section_body {
  color: var(--body-text-color);
  margin: 11.75vh 0 0 0;
}

.page1_section_body > p {
  font-family: "OpenSans_Regular";
  font-weight: 300;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.50);
  font-size: 2.2rem;
  margin: 0 0 1.9rem 0;
  letter-spacing: -0.04375rem;
}
/*page1 end*/

/*page2 start*/
.page2 {
  margin: 31.7rem 0 0 0
}

.page2_title {
  margin: 0 0 1.126rem 2rem;
  font-family: "OpenSans_SemiBold";
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.541rem;
  color: rgba(255, 255, 255, 1);
}

.page2_sub {
  margin: 0 0 8.596rem 2rem;
  font-family: "RotoMono-Regular";
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.451rem;
  letter-spacing: -0.02em;
  text-align: left;
  opacity: 80%;
  color: #e4e8ebcc;
}

.swiper {
  margin: 0 0 1.65rem 2rem;
  width: 94.7vw;
  position: relative;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  justify-content: center;
}

.page2_swiper_image {
  position: relative;
  margin: 0 0 20.63rem 2rem;
  width: 87.729133vw;
  height: 21.84365vh;
  top: 0;
  left: 0;
}

.swiper-slide img {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 87.729133vw;
  height: 21.84365vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}

.page2_swiper_back_image {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 87.729133vw;
  height: 21.84365vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.swiper-slide-active img {
  opacity: 0.6;
}

.page2_swiper_innertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "OpenSans_Bold";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 30.53px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  z-index: 3;
}

.page2_list {
  position: absolute;
  margin: 0 0 0 0;
  top: 69.4%;
  width: 92.639%;
  height: 38.05%;
  font-family: "OpenSans_Light";
  font-size: 1.4rem;
  line-height: 1.907rem;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 2rem;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
}

.swiper-slide-active ul {
  opacity: 1;
}

.page2_list li {
  margin: 0 0 1.4rem 2rem;
}

.page2_caution {
  list-style: none;
  margin: 0 0 0 2rem;
  padding-left: 0;
  font-family: "RotoMono-Regular";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.055rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: #e4e8eb80;
  opacity: 80%;
}
/*page2 end*/

/*page3,4 start*/
/*화살표 애니메이션*/
@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* 움직임 크기 및 방향 조절 */
  }
}
@keyframes fadeInOut {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1; /* 나타났다 사라지는 애니메이션 설정 */
  }
}

.page1_arrow_container {
  position: fixed;
  animation: moveUpDown 2s linear infinite;
  z-index: 5;
}

.page1_arrow_container > img { /*움직이는 화살표 이미지*/
  position: fixed;
  top: 15rem;
  left:27rem;
  transform: translate(-50%, -50%); /* 요소의 중심을 화면 가운데로 이동 */
  width:8rem;
  height: 5rem;
  opacity: 0; /* 초기에 투명하게 설정 */
  animation: fadeInOut 2s linear infinite; /* 나타나고 사라지는 애니메이션 설정 */
  transition: transform 0.5s ease, display 0.5s ease;
  transform: translateY(5rem);
}

footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; /* 수평 가운데 정렬 */
  display: flex; /* 내부 요소를 가로 정렬하기 위해 flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background-size: cover;
  background-repeat: no-repeat; 
  z-index: 4;
}

.button-container {
  z-index: 6;
  position:fixed;
  bottom:5rem;
  width: 50rem;
  height: 6.5rem; /* 버튼을 수직 가운데 정렬할 높이 설정 */
  display: flex; /* 내부 요소를 가로 정렬하기 위해 flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin: 0 16px; 

  border-color: white;
  border-style: solid;
  border-width: 2px;
  color:white;
  font-family: "OpenSans_Bold";
  font-size: 24px;
  border-radius: 4rem; /* 모서리 둥근 직사각형 버튼 모양 설정 */
  padding: 13px 20px;
  background-color: #0f1116;
  cursor: pointer;
  outline: none;
  
}

.shadow {
  position: fixed; /* 고정 위치로 설정 */
  bottom: 0; /* 페이지 하단에 고정 */
  left: 0;
  right: 0;
  margin: 0 auto; /* 수평 가운데 정렬 */
  display: flex; /* 내부 요소를 가로 정렬하기 위해 flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%;
  height: 17rem; /* 원하는 블러 처리된 요소의 높이 설정 */
  background-color: #0f1116; /* 블러 처리된 배경 색상 설정 */
  backdrop-filter: blur(10px); /* 블러 처리 경계선 추가 */
  box-shadow: 0 0 15px 20px #0f1116, 0 0 30px 30px #0f1116;
}



.page3, .page4{
  color:white;
}
.page4{
  margin-bottom: 50%; /*가장 아래 높이 지정*/
}

.page3_title, .page4_title{
  text-align: left;
  margin-left: 2rem;
  font-family: "OpenSans_SemiBold"; /*타이틀 폰트*/
  font-weight: 600;
  font-size:26px;
}

.page3_title{
  margin-top: 16rem; /*합친후 조정 필요*/
  margin-bottom: 22rem;
  text-align: left;
}
.page4_title{
  margin-top: 29rem;
  margin-bottom: 6rem;
}

.page3_content {
  color:#e4e8ebcc;
  text-align: left;
  margin-left: 2rem;
  font-family: "OpenSans_Light"; /*페이지3 내용 폰트*/
  font-weight: 300;
  font-size: 10px;
  line-height: 2;
}
.page4_content{
  text-align: center;
}

.page4_con_title1, .page4_con_title2, .page4_con_title3{
  margin-top: 7%; /*세가지 요소 간의 간격*/
  font-family: "OpenSans_SemiBold"; /*페이지4 내용 제목 폰트*/
  font-weight: 600;
  font-size: 13.5px;
  line-height: 1.5;
}
.page4_con_text1, .page4_con_text2, .page4_con_text3{
  font-family: "OpenSans_Light";
  font-weight: 300;
  margin-top: -20px; /*글자간격*/
  font-size: 12px;
  color:#e4e8ebcc;
}

.page4_con_title1, .page4_con_text1{
  margin-left: -40%;
}
.page4_con_title2, .page4_con_text2{
  text-align: center;
}
.page4_con_title3, .page4_con_text3{
  margin-left: 50%;
}

.page4_plus{
  text-align: center;
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 6rem;
  font-weight: lighter;
}
.page4_plus_content{
  color:#e4e8ebcc;
  margin:0 auto;
  text-align: center;
  font-family: "OpenSans_Regular";
  font-weight: 400;
  line-height: 3.5rem;
  font-size: 22px;
  border-color:#e4e8ebcc;;
  width: 33rem;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px; /* 모서리 둥근 직사각형 버튼 모양 설정 */
  padding: 20px;
  background-color: rgba(17, 21, 27, 0.8); 
}

/*page3,4 end*/